<?xml version="1.0" encoding="utf-8" standalone="no"?>
<Environment>
  <Variable>
    <Name>timeout</Name>
    <Value>600000</Value>
  </Variable>
<Variable>
  <Name>browser</Name>
  <Value>CHROME</Value>
</Variable>
<Variable>
  <Name>browserSize</Name>
  <Value>maximised</Value>
</Variable>
<Variable>
  <Name>HomePage</Name> 
  <Value>https://www.facebook.com</Value>
</Variable>
<Variable>
    <Name>VAR_NUM_SUFF</Name> 
    <Value>38</Value>
  </Variable>
</Environment>